priority 50

################
# Blog Helpers #
################

# I use these to help me write posts for my personal blog.

snippet blogimg "Blog: Add an image." b
![${1:alt text}](/images/posts/${2:filename}){:height="100%" width="100%"}
endsnippet
