[user]
	email = contact@simshadows.com
	name = simshadows
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[init]
	defaultBranch = master
[push]
	default = upstream
[merge]
	conflictstyle = diff3
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[alias]
	s   = status
	l   = log --all --oneline --graph --decorate
	lf  = log --all --pretty=fuller --stat --graph --decorate
	d   = diff
	ds  = diff --staged
	
	c   = commit
	ca  = commit --amend

	b   = checkout -b
	bl  = branch -avv

	f   = fetch --prune

    # Stage everything
	a   = add -A
    # Unstage
    u   = restore --staged

	# Removes untracked files and folders.
	cl  = clean -fdx

	# Undoes the latest commit and leaves those commited changes unstaged.
	# To commit with the old message: 'git commit -c ORIG_HEAD'.
	ru = reset HEAD~

	# (TODO: What exactly does this do?)
	rh = reset --hard

	# Clone from Github
	github          = !sh -c 'git clone git@github.com:$1.git' -
	githubwiki      = !sh -c 'git clone git@github.com:$1.wiki.git' -
	githubHTTPS     = !sh -c 'git clone https://github.com/$1.git' -
	githubwikiHTTPS = !sh -c 'git clone https://github.com/$1.wiki.git' -

