[user]
	email = contact@simshadows.com
	name = simshadows
	signingkey = 9734AEE67765FB4A
[push]
	default = upstream
[merge]
	conflictstyle = diff3
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[alias]
	i   = init
	#c  = clone

	s   = status
	#sh = show
	l   = log --all --oneline --graph --decorate
	lF  = log --all --pretty=fuller --stat --graph --decorate
	d   = diff
	dS  = diff --staged
	#re = remote -v
	
	a   = add -A

	c   = commit
	cM  = commit -m
	cA  = commit --amend

	b   = checkout -b
	bL  = branch -a
	m   = merge

	f   = fetch --prune
	p   = push
	pu  = pull

	# Removes untracked files and folders.
	cl  = clean -fdx

	# Removes untracked ignored files and folders.
	clI = clean -fdX

	# Undoes the latest commit and leaves those commited changes unstaged.
	# To commit with the old message: 'git commit -c ORIG_HEAD'.
	rU = reset HEAD~

	# (TODO: What exactly does this do?)
	rH = reset --hard

	# Reset the working copy at the current directory and its subdirectories
	rW = checkout .

	# Garbage Collection
	#g  = gc

	# Clone from Github
	github          = !sh -c 'git clone git@github.com:$1.git' -
	githubwiki      = !sh -c 'git clone git@github.com:$1.wiki.git' -
	githubHTTPS     = !sh -c 'git clone https://github.com/$1.git' -
	githubwikiHTTPS = !sh -c 'git clone https://github.com/$1.wiki.git' -

